.error {
   color: red;
}

.warn {
   color: red;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
}

.navbar ul li.active {
    background: #DDD;
}

.units-row {
	width: 100%;
}

.unit-10 {
	width: 10%;
}
.unit-90 {
	width: 90%;
}

